@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100&display=swap');

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(25, 25, 25);
    /* margin: 0;
    padding: 0; */
}

body {
    color: rgb(255, 255, 255);

}

#logo {
    color: rgb(24, 157, 132);
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Anuphan', sans-serif;
    cursor: pointer;
}

#logo:hover {
    color: rgb(87, 133, 123);
}

span {
    font-style: underline; /* why didn't this work? :S I only have one span */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    color: rgb(24, 157, 132);
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li:hover {
    color: rgb(180, 184, 183);
    cursor: pointer;
}

a {
    color:rgb(255, 255, 255);
    list-style: none; /* not sure why the underline isn't disappearing */
}

a:hover {
    color:rgb(24, 157, 132);
}

/* td (entries in table) */


th {
    /* margin: 30px; */
    /* padding: 10px; */
    color:rgb(24, 157, 132);
}

td {
    
    margin: 0;
    padding: 20px;
} 

table {
    display: flex;
    padding: 40px;
    margin: 20px;
}

.wee-heading {
    padding: 20px;
    margin: 20px;
    font-size: 30px;
}



