<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Library Lab - All Books</title>
</head>
<body>
{# navbar menu main - sounds odd but hopefully will improve this later #}
<header>
        <div id="logo">The Reading <span>Maze</span><a href="http://localhost:4999/home"></a></div>   
        <nav class="main-menu-nav">
            <ul>
                <li class="list-items"><a href="http://localhost:4999/home">Home</a></li>
                <li><a href="http://localhost:4999/display_all_books">Display All Books</a></li>
                <li><a href="http://localhost:4999/add_new_book">Add New Book</a></li>
                <li><a href="http://localhost:4999/remove_book">Remove Book</a></li>
                <li><a href="">Check In</a></li>
                <li><a href="">Check Out</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
</header>{# need to figure out how to re-use this base on all pages #}

<nav class="activity-menu-nav">
    <ul>
        <li><a href="http://localhost:4999/home"></a>Home</li>
        <li><a href="https://localhost:4999/display_all_books"></a>Display All Books</li>
        <li><a href="http://localhost:4999/add_new_book"></a>Add New Book</li>
        <li><a href=""></a>Remove Book</li>
        <li><a href=""></a>Check In Book</li>
        <li><a href=""></a>Check Out Book</li>
        <li><a href=""></a>Contact</li>
    </ul>

<main>
    <h2 class="wee-heading">Here is a list of all of our available books:</h2>
{% for book in books_list %}
    <table>
        <th class="table-labels">Title:</th>
        <th>Author:</th>
        <th>Genre:</th>
        <th>Book ID:</th>

        <tr>
        <td>"{{ book.title }}"</td>
        <td>{{ book.author }}</td>
        <td>"{{ book.genre }}"</td>
        <td>{{ book.book_id }}</td>
        <button type="hidden" href="{{ url_for('remove_book', book_id=book.book_id) }}">Remove This Book</button> {# what I tried to do here didn't work the way I wanted so I'll try again later #}
        </tr>
    </table>
{% endfor %}
</nav>
<nav>
    <li><a href="http://localhost:4999/home">Click here to return to <b>>Home</b></a></li>
</nav>
</main>


{# display all books func page - for loop used to display all books #}
{# <div class="books-list">
    {% for book in books_list %}
    <ul>
        <li>"{{ book.title }}" is a book by {{ book.author }}. The genre the book is categorised in is "{{ book.genre }}".</li>
    </ul>
    </p>
{% endfor %} #}


{# display specific book via index maybe #}


{# add a new book - create a wee form with inputs and textarea (I'll add a description property later to the Book class) #}


{# remove a specific book #}

</body>
</html>
