<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Contact</title>
</head>
<body>
{# navbar menu main - sounds odd but hopefully will improve this later #}
<header>
        <div id="logo">The Reading <span>Maze</span><a href="http://localhost:4999/home"></a></div>   
        <nav class="main-menu-nav">
            <ul>
                <li><a href="http://localhost:4999/home">Home</a></li>
                <li><a href="http://localhost:4999/display_all_books">Display All Books</a></li>
                <li><a href="http://localhost:4999/add_new_book">Add New Book</a></li>
                <li><a href="http://localhost:4999/remove_book">Remove Book</a></li>
                <li><a href="">Check In</a></li>
                <li><a href="">Check Out</a></li>
                <li><a href="http://localhost:4999/contact">Contact</a></li>
            </ul>
        </nav>
</header>{# need to figure out how to re-use this base on all pages #}
    <h2 class="wee-header">Contact Me</h2>
    <p>I'll try to make a contact form or something and put it here. I just don't know how it would link up to anything. Or I could do an email thing and put my email address here.
    Or what if you could play a game here for fun - like a quiz about someone's favourite book!</p>

    <p>Pikachu says hi! PIKACHUUUUUUUUU!</p>
    <img src="../static/pikachu.png" alt="pikachu">

</body>
</html>